/* Header Styling */
header {
    text-align: left;
    background-color: #8f8f8f;
    color: #fff;
    padding: 20px;
}

header img {
    float: left;
    width: 200px;
}

header h1 {
    position: relative;
    font-style: oblique;
    top: 18px;
    left: 10px;
}

header ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

header a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

header a:hover {
    background-color: hsl(0, 0%, 10%);
}

header li {
    float: left;
}

/* Main Container Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(7, 1, 12);
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Character List Styling */
.character-list {
    background-color: rgb(47, 47, 47);
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: flex-start;
    padding: 10px; /* Añadir padding para el contenido interno */
    box-sizing: border-box; /* Asegurar que el padding no aumente el ancho total */
}

.character-list h1 {
    width: 100%; /* Asegurar que el encabezado ocupe el 100% del ancho del contenedor */
    margin: 0 0 10px 0; /* Quitar margen superior y añadir margen inferior */
    text-align: center; /* Alinear el texto a la izquierda */
}

.pc {
    background-color: rgb(73, 57, 57);
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(25% - 20px); /* Ajustar el ancho y el margen para mostrar 4 por fila */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Espacio entre las cajas */
    box-sizing: border-box; /* Asegurar que el padding no aumente el ancho total */
}
.pc ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.pc li {
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.pc li:last-child {
    border-bottom: none;
}

.pc li span.key {
    font-weight: bold;
    color: #ddd;
}

.pc li span.value {
    color: #888;
}

/* Form Container Styling */
.form-container {
    width: 30%;
    background-color: rgb(47, 47, 47);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Image Container Styling */
.container {
    display: flex;
    justify-content: center;
}

.image {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    max-width: 150px; 
}

.image img {
    width: 100%;
    height: auto;
}

.image figcaption {
    margin-top: 5px;
    font-style: italic;
    font-size: 14px;
}

.image figcaption.rank {
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: normal;
    word-wrap: normal;
    max-width: 100%; 
    font-style: oblique;
    font-weight: bold;
}

/* Footer Styling */
footer {
    margin-top: 5%;
    text-align: left;
    background-color: #727171;
    color: #fff;
    padding: 5px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin-bottom: 5px;
}

a {
    color: #cecece;
    text-decoration: none;
}

#comment {
    max-height: 10%;
    resize: vertical;
}

.feed {
    background-color: hsl(0, 0%, 10%);
    padding: 20px;
    display: inline-block;
    border: 2px solid #ffffff;
}

/* ATRIBUTOS */
#attributes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.header-row {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-row span {
    width: 60px;
    text-align: center;
}

.race-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.race-header > div {
    display: flex;
    align-items: center;
}

.race-header span {
    width: 60px;
    text-align: center;
}

.attribute-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.attribute-row label {
    width: 60px;
    text-align: right;
}

.attribute-row input[type="number"],
.attribute-row input[type="text"] {
    width: 50px;
    text-align: center;
}

.attribute-row input[type="checkbox"] {
    margin: 0 5px;
}

.attribute-row div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    text-align: center;
}

.mod-input {
    background-color: #9f9f9f;
}

.total-input {
    background-color: #9f9f9f;
}

