<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/DnD-Emblem.png') }}">
    <header>
        <img src="{{ url_for('static', filename='images/DnD-Emblem.png') }}" alt="dnd_logo">
        <nav class="navbar">
            <h1>DnD - Web Battle Manager</h1>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('gameRooms' ) }}">Game Rooms</a></li>
                <li><a href="{{ url_for('characters') }}">Characters</a></li>
                <li><a href="{{ url_for('battle_manager') }}">Battle Manager</a></li>
            </ul>
        </nav>
    </header>
</head>
<body>

    {% block body %} {% endblock %}
    <footer class="footer">    
        <div class="footer-content container">
            <div  class="contenedor-de-redes">
                <div class="redes">
                    <h3>Redes</h3>
                    <div id="contenedor-redes">
                        <a class="enlace" href="#"><img src="./static/images/logo-facebook.webp" alt="Facebook"></a>
                        <a class="enlace" href="#"><img src="./static/images/logo-instagram.webp" alt="Instagram"></a>
                        <a class="enlace" href="#"><img src="./static/images/logo-twitter.webp" alt="X"></a>
                        <a class="enlace" href="#"><img src="./static/images/logo-github.webp" alt="GitHub"></a>
                    </div>
                </div>
                <a href="#"><h3>Dejanos tu opinion</h3></a>
            </div>
            <div class="creditos">
                <h3>proyecto IDS creado 1C 2024 ©</h3>
                <p>por William Ramirez, [ingresen sus nombres]</p>
            </div>
        </div>
    </footer>
</body>
</html>