{% extends "base.html" %}
{% block title %} DnD-WBM {% endblock %}
{% block body %}

<div class="main-content">
    <div class="character-list">
        <h1>Character List</h1>
        {% for character in data %}
        <div class="pc">
            <ul>
                {% for key, value in character.items() %}
                <li><span class="key">{{ key }}:</span> <span class="value">{{ value }}</span></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="form-container">
        <h2>Manage Characters</h2>
        <!-- Formulario para agregar nuevos personajes -->
        <form method="POST" action="{{ url_for('add_character') }}">
            <label for="character_name">Character Name:</label><br>
            <input type="text" id="character_name" name="character_name"><br>
            <label for="class">Class</label>
            <select name="class" id="class">
                {% for class_name in classes %}
                    <option value="{{ class_name }}">{{ class_name }}</option>
                {% endfor %}
            </select> <br>
            <label for="xp">XP</label> <br>
            <input type="number" name="xp" id="xp"> <br>
            <label for="hp">Hit Points</label> <br>
            <input type="number" name="hp" id="hp"> <br>
            <label for="alignment">Alignment</label>
            <select name="alignment" id="alignment">
                <option value="Lawful Good">Lawful Good</option>
                <option value="Lawful Neutral">Lawful Neutral</option>
                <option value="Lawful Evil">Lawful Evil</option>
                <option value="Neutral Good">Neutral Good</option>
                <option value="Neutral"> Neutral</option>
                <option value="Neutral Evil">Neutral Evil</option>
                <option value="Chaotic Good">Chaotic Good</option>
                <option value="Chaotic Neutral">Chaotic Neutral</option>
                <option value="Chaotil Evil">Chaotic Evil</option>
            </select> <br>
            <label for="background">Background</label>
            <select name="background" id="background">
                {%for background in backgrounds %}
                    <option value="{{ background.name }}">{{ background.name }}</option>
                {% endfor %}
            </select> <br>
            <label for="race">Race</label>
            <select name="race" id="race">
                {% for race_data in races %}
                    <option value="{{ race_data.name }}-{{ race_data.source }}">{{ race_data.name }} | {{ race_data.source }}</option>
                {% endfor %}
            </select> <br>
            <label for="ac">AC:</label><br>
            <input type="number" id="ac" name="ac"><br>
            <label for="strength">STR:</label><br>
            <input type="number" id="strength" name="strength"><br>
            <label for="dexterity">DEX:</label><br>
            <input type="number" id="dexterity" name="dexterity"><br>
            <label for="constituiton">CON:</label><br>
            <input type="number" id="constituiton" name="constituiton"><br>
            <label for="intelligence">INT:</label><br>
            <input type="number" id="intelligence" name="intelligence"><br>
            <label for="wisdom">WIS:</label><br>
            <input type="number" id="wisdom" name="wisdom"><br>
            <label for="charisma">CHAR:</label><br>
            <input type="number" id="charisma" name="charisma"><br>
            
            <fieldset>
                <legend>Choose your Proficiencies</legend>
                {% for skill in skills %}
                    <input type="checkbox" name="{{ skill.name }}" id="{{ skill.name }}" value="{{ skill.name }}">
                    <label for="{{ skill.name }}">{{ skill.name }}</label>
                {% endfor %}
            </fieldset> <br>
            <fieldset>
                <legend>Personality Traits</legend>
                <textarea type="text" name="personality_traits" id="personality_traits" rows="5" cols="33"></textarea>
            </fieldset>
            <fieldset>
                <legend>Ideals</legend>
                <textarea type="text" name="ideals" id="ideals" rows="5" cols="33"></textarea>
            </fieldset>
            <fieldset>
                <legend>Bonds</legend>
                <textarea type="text" name="bonds" id="bonds" rows="5" cols="33"></textarea>
            </fieldset>
            <fieldset>
                <legend>Flaws</legend>
                <textarea type="text" name="flaws" id="flaws" rows="5" cols="33"></textarea>
            </fieldset>
            <input type="submit" value="Add Character">
        </form>
        <!-- Formulario para eliminar personajes (puedes ajustarlo según sea necesario) -->
        <form method="DELETE" action="{{ url_for('delete_character') }}">
            <label for="character_name">Select Character to Delete:</label><br>
            <select name="character_name" id="character_name">
                {% for character in data %}
                     <option value="{{ character.name}}">{{ character.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Delete Character">
        </form>
    </div>
</div>
{% endblock %}
