{% extends "base.html" %}
{% block title %} DnD-WBM {% endblock %}
{% block body %}
<main>
    <form action="/roomCreated" method="POST" class="roomCreation">
        <h2>Create Room</h2>
        <label for="roomName">Room Name</label>
        <input type="text" id="roomName" name="roomName" placeholder="room name" required>
        <label for="creatorName">Your name</label>
        <input type="text" id="creatorName" name="creatorName" placeholder="your name" required>
        <label for="maxPlayers">Number of players</label>
        <input type="number" id="maxPlayers" name="maxPlayers" placeholder="number of players" required>
        <button type="submit">create</button>
    </form>
</main>
{% endblock %}