{% extends "base.html" %}
{% block title %} DnD-WBM {% endblock %}
{% block body %}
<main>
    <section class="messageBox">
        <h2>Chat room: {{room}}</h2>
        <article class="messages" id="messages"></article>
        <div class="container">
            <input type="text" rows="3" placeholder="message" name="message" id="message">
            <button type="button" name="send" id="sendBtn" onclick="sendMessage()">send</button>
        </div>
    </section>
</main>
<script type="text/javascript">
    var socketio = io();
    const sendMessage = () => {
        console.log("send");
    };
</script>
{% endblock %}