{% extends "base.html" %}
{% block title %} DnD-WBM {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/characters.css') }}">
{% endblock %}
{% block body %}
<div class="charctersContainer">
    <div class="main-content">
        <section class="character-list">
            <h1>Character List</h1>
            {% for character in data %}
            <div class="pc">
                <div class="pc-header">
                    <span class="name">{{ character.character_name }}</span>
                    <span class="race">{{ character.race }}</span>
                </div>
                <div class="pc-class-level">
                    <p><strong>Class:</strong> {{ character.class|upper }}
                        {% if character.subclass %}
                            ({{ character.subclass|upper }})
                        {% endif %}
                    </p>
                    <p><strong>Level:</strong> <span name="level">{{ character.level }}</span></p>
                </div>
                <p class="pc-hp-ac">
                    <span><strong>HP:</strong> <span name="hp">{{ character.hp }}</span></span>
                    <span><strong>AC: </strong> <span name="ac">{{ character.ac }}</span></span>
                </p>
                <p><strong>Alignment:</strong> <span name="alignment">{{ character.alignment }}</span></p>
                <p class="pc-xp-pb">
                    <span class="xp"><strong>XP:</strong> <span name="xp">{{ character.xp }}</span></span>
                    <span><strong>PB: </strong> +<span name="pb">{{ character.pb }}</span></span>
                </p>

                <p><strong>Background:</strong> {{ character.background }}</p>
                <section class="character-attributes">
                    <p><strong>STR:</strong> <span name="strength">{{ character.strength }}</span></p>
                    <p><strong>DEX:</strong> <span name="dexterity">{{ character.dexterity }}</span></p>
                    <p><strong>CON:</strong> <span name="constitution">{{ character.constitution }}</span></p>
                    <p><strong>INT:</strong> <span name="intelligence">{{ character.intelligence }}</span></p>
                    <p><strong>WIS:</strong> <span name="wisdom">{{ character.wisdom }}</span></p>
                    <p><strong>CHA:</strong> <span name="charisma">{{ character.charisma }}</span></p>
                </section>
                <section class="character-skills">
                    <div class="skills-header">
                        <h2>Skills</h2>
                    </div>
                    <div class="skills-container">
                        <p hidden class="proficiencies">{{ character.proficiency_skills }}</p>
                        {% for skill in skills %}
                        <div class="character-skill {% if skill.name|lower in character.proficiency_skills %}proficient{% endif %}" name="{{ skill.name|lower }}">
                            <p><strong>{{ skill.name }}</strong>: <span name="value"></span></p>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                <form method="GET" action="{{ url_for('edit_character') }}">
                    <input type="hidden" name="character_id" value="{{ character.id }}">
                    <button type="submit" class="btn btn-red">Edit Character</button>
                </form>
                <form method="POST" class="delete-character" onsubmit="openModal(event, '{{ character.id }}')">
                    <button type="submit" class="btn btn-red">Delete Character</button>
                </form>
            </div>
            {% endfor %}
        </section>
        
        <div class="account-actions">
            <form action="{{ url_for('logout') }}" method="GET">
                <button type="submit" class="btn-red">Logout</button>
            </form>
            <form action="{{ url_for('profile') }}" >
                <button type="submit" class="btn-red">Profile</button>
            </form>
            <form method="GET" action="{{ url_for('createCharacter') }}">
                <button type="submit" class="btn-red">Create character</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        
        </div>
    </div>
</div>

<dialog class="modalDelete" id="modalDelete">
    <div class="modalHeader">
        <button class="closeBtn closeBtnDelete">&times;</button>
    </div>
    <div class="modalBodyDelete">
        <form action="{{ url_for('delete_character') }}" method="POST" class="deleteForm" id="deleteForm">
            <h4>Are you sure?</h4>
            <p><span class="textWeight">this process is irreversible</span></p>
            <input type="hidden" name="character_id" id="character_id">
            <div class="profileDeleteButtons">
                <div class="joinBtn">
                    <button type="submit" class="btn-join-modal yesProfileBtn">yes</button>
                </div>
                <div class="joinBtn">
                    <button type="button" class="btn-join-modal closeBtnDelete noProfileBtn">no</button>
                </div>
            </div>
        </form>
    </div>
</dialog>

<script>

</script>

<script src="{{ url_for('static', filename='scripts/characterDataProcess.js') }}"></script>
{% endblock %}
