{% extends "base.html" %}
{% block title %} DnD-WBM {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="box box-new-to-dnd">
            <h3>New to D&D?</h3>
            <p>Learn how to play here</p>
            <a href="{{ url_for('phb_redirect')}}" target="_blank" class="button">Learn the game</a>
        </div>
        <div class="box box-create-character">
            <h3>Begin your adventure!</h3>
            <p>Interested in playing? Create a D&D character to begin!</p>
            <a href="{{ url_for('characters') }}" class="button">Create Character</a>
        </div>
        <div class="box box-create-room">
            <h3>Want to be a GM?</h3>
            <p>Create the adventure that your friends will play!</p>
            <a href="{{ url_for('roomCreation') }}" class="button">Create Room</a>
        </div>
        <div class="box box-find-room">
            <h3>Already have a Character?</h3>
            <p>Find your party and begin playing!</p>
            <a href="{{ url_for('gameRooms') }}" class="button">Find Room</a>
        </div> 
    </div>
</main>
{% endblock %}