{% extends "base.html" %}
{% block title %} DnD-WBM {% endblock %}
{% block body %}
<main>
    <div class="roomContainer">
        <section class="messageBox">
            <h2 class="textShadow">Chat room: {{code}}</h2>
            <article class="messages" id="messages"></article>
            <div class="inputs" onkeypress="handleKeyPress(event)">
                <input type="text" rows="3" placeholder="message" name="message" id="message">
                <button type="button" name="send" id="sendBtn" onclick="sendMessage()">send</button>
            </div>
        </section>
    </div>
</main>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', (event) => {
        fetch('/session')
            .then(response => response.json())
            .then(sessionData => {
                var socketio = io('https://dndapi.pythonanywhere.com', {
                    query: { session: JSON.stringify(sessionData) }
                });

                const messages = document.getElementById("messages");

                const createMessage = (name, msg) => {
                    const content = `
                    <div class="text textShadow">
                        <span>
                            <strong>${name}</strong>: ${msg}
                        </span>
                    </div>
                    `;
                    messages.innerHTML += content;
                };

                socketio.on("message", (data) => {
                    createMessage(data.name, data.message);
                });

                const sendMessage = () => {
                    const msg = document.getElementById("message");
                    if (msg.value == "") return;
                    socketio.emit("message", { data: msg.value });
                    msg.value = "";
                };

                function handleKeyPress(event) {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        sendMessage();
                    }
                }

                document.getElementById("sendBtn").addEventListener("click", sendMessage);
                document.getElementById("message").addEventListener("keypress", handleKeyPress);
            })
            .catch(error => {
                console.error('Error fetching session data:', error);
            });
    });
 
</script>
{% endblock %}