{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block body %}
<div class="bodyLogin">
    <div class="login-container">
        <div class="login-form">
            <img src="{{ url_for('static', filename='images/DnD-Emblem.png') }}" alt="Logo" class="logo">
            <h2>Iniciar sesión</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
            <form method="POST" action="{{ url_for('login') }}">
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="btnContainer">
                    <button class="loginBtn" type="submit">Log in</button>
                </div>
            </form>
            <p class="firstTime">First time on our webite? <a href="{{ url_for('register') }}">Sign up for free here</a></p>
        </div>
    </div>
</div>
{% endblock %}